{{ define "header"}}
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TODO web application"</title>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script> 
    <!-- EPOCH -->
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="/static/epoch.min.js"></script>
    <link rel="stylesheet" href="/static/epoch.min.css">
    <script src="/static/realtime.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <!-- Primjs -->
    <link href="/static/prismjs.min.css" rel="stylesheet">
    <style>
    body { padding-top: 50px; }
    </style>
    <style>
    .footer {
        position: fixed;
        left: 10px;
        bottom: 0;
        width: 100%;
        color: inherit;
        text-align: left;
    }
    </style>
    <style>
    .menu {
        margin-left: 10px
    }
    </style>
    </head>
{{ end }}