<!doctype html>
<html lang="en">

    {{ template "header" }}

    <body>
    {{ template "navbar"}}
        <div class="menu">  
        <h1>Home page</h1>
        <div>Choose an option </div>
        <div class="row">
            <div class="col-lg-4">
                <img src="/assets/add.png" alt="add" width="200" height="200">
                <h2>Add task</h2>
                <p>Add new task to your list.</p>
                <p><a class="btn btn-secondary" href="addtask" role="button">Add &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img src="/assets/delete.png" alt="deletetask" width="200" height="200">
                <h2>Delete task</h2>
                <p>Delete task from your list.</p>
                <p><a class="btn btn-secondary" href="#" role="button">Delete &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img src="/assets/update.png" alt="update" width="200" height="200">
                <h2>Update task</h2>
                <p>Update task from your list.</p>
                <p><a class="btn btn-secondary" href="updatetask" role="button">Update &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img src="/assets/find.png" alt="find" width="200" height="200">
                <h2>Find task</h2>
                <p>Find task on your list..</p>
                <p><a class="btn btn-secondary" href="findtask" role="button">Find &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img src="/assets/all.png" alt="all" width="200" height="200">
                <h2>Show tasks</h2>
                <p>Show all tasks present on your list.</p>
                <p><a class="btn btn-secondary" href="tasks" role="button">Show &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
        {{ template "footer" }}
        </div>
    </body>
</html>