<!doctype html>
<html lang="en">

{{ template "header" }}

<body>
{{ template "navbar"}}
    <div class="menu">
    <h1>Update task</h1>

    <form action="/updatetask" method="post" > 
    <h2> Enter title of task you want to update </h2>
        Previous Title: <input type="text" name="name"><br> 
    <h2> Enter new values </h2>
        New Title: <input type="text" name="title"><br>
        Completed: <br>
        <input type="radio" id="true_form" name="completed" value="1">
        <label for="completed">True</label><br>
        <input type="radio" id="false_form" name="completed" value="0">
        <label for="completed">False</label><br>
        
        Description: <input type="text" name="description"><br><br>
        <input type="submit" value="Submit">
        <input type="reset">
    </form>
<p>[<a href="/home">Back</a>]</p>
</div>
{{ template "footer" }}
</body>

